(function() {
var jQuery;
if (window.jQuery === undefined || window.jQuery.fn.jquery !== '1.11.0') {
    var script_tag = document.createElement('script');
    script_tag.setAttribute("type","text/javascript");
    script_tag.setAttribute("src", "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js");
    if (script_tag.readyState) {
      script_tag.onreadystatechange = function () { // For old versions of IE
          if (this.readyState == 'complete' || this.readyState == 'loaded') {
              scriptLoadHandler();
          }
      };
    } else {
      script_tag.onload = scriptLoadHandler;
    }
    (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
} else {
    jQuery = window.jQuery;
    main();
}

function scriptLoadHandler() {
    jQuery = window.jQuery.noConflict(true);
    main();
}
function main() {
    jQuery(document).ready(function($) {
        var css_link = $("<link>", {
            rel: "stylesheet",
            type: "text/css",
            href: "<%= URI.join(root_url, path_to_stylesheet("widget.css")).to_s %>"
        });
        css_link.appendTo('head');

        jQuery(document.body).append('<div id="helloDiv"></div>');

        var feedback_div = $("<div>");
        feedback_div.addClass('gitshoes-button')
        feedback_div.css({
          "float": "right",
          "width": "20px",
          "height": "87px",
          "margin": "0px",
          "padding": "0px",
          "background-color": "blue",
          "cursor": "pointer",
          "box-sizing": "content-box",
          "vertical-align": "baseline",
          "display": "block",
          "position": "fixed",
          "background-image": "url(http://s3-ap-southeast-1.amazonaws.com/wk-static-files/webengage/feedbacktab/1lbkif8.png)",
        });

        feedback_div.appendTo('body');

        var feedback_form = $("<div>");
        feedback_form.appendTo('body');
        feedback_form.hide();

        var jsonp_url = 'http://localhost:3000/repos/3/issues/new'
        $('div.gitshoes-button').click(function() { 
          $.ajax({
            url:       jsonp_url,
            dataType:  "html",
            success:   function(data) {
              feedback_form.html(data);
              feedback_form.show();
            }
          });
        });
    });
}
})();