<div class="container-fluid">
	<div class="row">
		<div class="page-header">
		  <h1>Your Shoebox <small>// <%= @repos.count %> active</small>
		  <%= link_to 'Add Repository', new_repo_path, class: "btn btn-primary pull-right" %></h1>
		</div>
	</div>
  <div class="row">
    <div class="col-md-3">
      <%= render 'sidebar' %>
    </div>
    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</div>
