<% content_for :head do %>
  <script type="text/javascript">
  	$(document).ready(function(){
      $('.list-group').on('click', '.list-group-item', function(e) {
      	e.preventDefault();
        $(".list-group>.list-group-item").removeClass('active');
        $(this).addClass('active');
        var itemUrl = $(this).attr('href');
        $('.col-md-9').empty();
        $.ajax({
	        url:       itemUrl,
	        dataType:  "html",
	        success:   function(data) {
	          $('.col-md-9').html(data);
	        }
	      });
      });
  	});
  </script>
<% end %>

<div class="container-fluid">
	<div class="row">
		<div class="page-header">
		  <h1>Your Shoebox <small>// <%= @repos.count %> active</small>
		  <%= link_to 'Add Repository', new_repo_path, class: "btn btn-primary pull-right" %></h1>
		</div>
	</div>
  <div class="row">
    <div class="col-md-3">
      <%= render 'sidebar' %>
    </div>
    <div class="col-md-9">
      <%= 'your repo here...' %>
    </div>
  </div>
</div>
