<h1>Add Repository</h1>

<ul>
	<% @repos.each do |r| %>
		<%= form_for @repo do |f| %>
			<%= f.hidden_field :address, :value => r.html_url %>
			<%= f.submit r.name, class: "btn btn-primary btn-sm" %>
		</br>
		</br>
		<% end %>
	<% end %>
</ul>