<h1>Show Repository</h1>

<ol>
<li><%= @repo.address %></li>
<li><%= @repo.token %></li>
</ol>
<%= link_to 'Back', repos_path, class: "btn btn-primary" %>
<%= link_to 'Create Issue', new_issue_path, class: "btn btn-primary" %>