(function() {
  // If jQuery isn't assigned or isn't version 1.11.0, assign 
  // version 1.11.0 to the variable jQuery. This allows GitShoes
  // to use its version of jQuery without conflicting the site's version.
  var jQuery;
  if (window.jQuery === undefined || window.jQuery.fn.jquery !== '1.11.0') {
    var script_tag = document.createElement('script');
    script_tag.setAttribute("type","text/javascript");
    script_tag.setAttribute("src", "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js");
    if (script_tag.readyState) {
      script_tag.onreadystatechange = function () { // For old versions of IE
        if (this.readyState == 'complete' || this.readyState == 'loaded') {
          scriptLoadHandler();
        }
      };
    } else {
      script_tag.onload = scriptLoadHandler;
    }
    (document.getElementsByTagName("head")[0] || document.documentElement).appendChild(script_tag);
  } else {
    jQuery = window.jQuery;
    main();
  }

  // Returns control of $ to other JS libraries (like native jQuery)
  function scriptLoadHandler() {
    jQuery = window.jQuery.noConflict(true);
    main();
  }

  // Create widget
  function main() {
    jQuery(document).ready(function($) {
      WebFontConfig = {
        google: { families: [ 'Open+Sans::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
      
      var gitshoesInsert = $("<div id='feedback-container'><div id='gitshoes-button'></div></div>");
      gitshoesInsert.css({
        "position": "fixed",
        "right": 30,
        "bottom": 0,
        "width": "300px"
      });
      gitshoesInsert.appendTo('body');

      var gitshoesFloater = $('#gitshoes-button')
      gitshoesFloater.text("Feedback");
      gitshoesFloater.css({
        "width": "auto",
        "height": "auto",
        "line-height": "30px",
        "margin": "0px",
        "font-size": "18px",
        "text-align": "center",
        "padding": "3px 10px 3px 10px",
        "border-top-left-radius": "5px",
        "border-top-right-radius": "5px",
        "background-color": "#357ebd",
        "color": "white",
        "cursor": "pointer",
        "float": "right",
        "font-family": "'Open Sans', sans-serif",
        "display": "inline-block"
      });


      var gitshoesFormDiv = $("<div id='gitshoes-form'></div>");
      gitshoesFormDiv.css({
        "padding": "5px 20px 5px 20px",
        "background-color": "white",
        "width": "300px",
        "float": "right",
        "border": "1px solid #9a9a9a",
        "border-top-left-radius": "5px"
      });
      gitshoesFormDiv.appendTo('#feedback-container');

      //save formDiv in a variable
      var formDiv = jQuery('#gitshoes-form');
      formDiv.css({"display": "none"});

      // ajax starts here
      var gitshoesFormUrl = "<%= new_issue_url(@repo) %>";
      jQuery.ajax({
        url:       gitshoesFormUrl,
        dataType:  "html",
        success:   function(data) {
          formDiv.html(data)
          $("form#new_issue").css({
            "margin": "0"
          });
          $("form#new_issue").on("submit", function(e){
            e.preventDefault();
            var bodyText = jQuery('#issue_system').val();
            if (bodyText !== ""){
              var submitBodyText = "Platform: "+ "\n" + navigator.platform + "\n\n" + "Browser: " + "\n" + navigator.userAgent + "\n\n" + "Location: " + "\n" + window.location.pathname + "\n\n" + "Message: " + "\n" + bodyText
              jQuery('#issue_body').val(submitBodyText);
              jQuery.ajax(jQuery("#new_issue").attr("action"), {
                crossDomain: true,
                method: "POST",
                data: jQuery("#new_issue").serialize(),
                success: function(data){
                  jQuery('#gitshoes-form').slideUp();
                  jQuery('#issue_email').val("");
                  jQuery('#issue_title').val("");
                  jQuery('#issue_body').val("");
                  jQuery('#issue_system').val("");
                  jQuery('#gitshoes-button').fadeOut(400).html('Thank you!').delay(500).fadeIn();
                }
              })
            };
          })
        }
        
      });

      function ajaxCall (){
        console.log("hi");
        jQuery(document).on("ajax:success", "#new_issue", function(event, data, status, xhr){
          console.log('ajax success triggered');
          jQuery('#gitshoes-form').slideUp();
          jQuery('#issue_email').val("");
          jQuery('#issue_title').val("");
          jQuery('#issue_body').val("");
          jQuery('#issue_body').val("");
          jQuery('#gitshoes-button').fadeOut(400).html('Thank you!').delay(500).fadeIn();
        });
      };

      // click event for slide up or slide down
      jQuery('div#gitshoes-button').on('click', function() { 
        if (jQuery('#gitshoes-button').html() == 'Thank you!'){
          jQuery('#gitshoes-button').html('Feedback');
        };

        if(formDiv.css("display") == "none"){
          formDiv.slideDown();
        } else {
          formDiv.slideUp();
        }
      });

      console.log($.browser);

    });
  }
})();