<div class="form-group">
	Edge: <%= f.text_field :edge %>
</div>
<div class="form-group">
	Orientation: <%= f.text_field :orientation %>
</div>
<div class="form-group">
	Offset: <%= f.text_field :offset %>
</div>
