
<div class="sign-in-box col-md-6 col-md-offset-3">
	<h1 class="text-center">Welcome to GitShoes</h1>
	<h3 class="text-center">We connect user feedback to your Github repository issues!</h3>
	<%= link_to 'SIGN IN', user_omniauth_authorize_path(:github), class: "btn btn-primary btn-lg center-block" %>
</div>