/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require dataTables/jquery.dataTables.bootstrap3
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

$navbar-height: 70px;
$navbar-default-bg: #fff;
$navbar-border-radius: 0px;
$navbar-default-brand-color: #00A1D9;
$navbar-default-border: #dedede;
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
$font-family-sans-serif: 'Open Sans', sans-serif;

@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
html, body {
  height: auto;
  background-color: #fcfcfc;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.navbar-brand{
	font-size: 1.6em;
}

.background{
	min-height: 100%;
	background-color: #00A1D9;
}

.sign-in-box{
  margin-top: -50px;
  margin-bottom: 150px;
	padding: 30px;
	border-radius: 5px;
  color: white;
	background-color: rgba(255,255,255,0);

	height: auto;
	a{
		margin-top: 30px;
	}
}

.page-header{
  margin-top: -10px;
}

.border-fade:hover{
	-webkit-box-shadow: 0 0 10px #dedede;
	box-shadow: 0 0 10px #dedede;
}

.item{
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.thumbnail img{
	max-height: 200px;
}

.shoebox{
  margin: 0 20px 0 20px;
}

.row-shoebox{
  margin-top: 80px;
}

div.dataTables_paginate ul.pagination {
  margin: 20px;
}

#hidden-canvas {
	visibility: hidden;
}

footer {
    height: 70px;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-color: #dedede;
    border-top: 1px solid #dedede;
}
footer .footer-links > li > a {
    color: #2C3E50;
}

.footer-text{
  margin: 25px 0 0 0;
  color: #2C3E50;
}