// Place all the styles related to the widget controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.widget-form-section {
	display: none;
}

div.widget-form-section.active {
	display: block;
}

div.widget-view {
	height: 500px;
	width: 100%;
	border: 4px solid #000;
	margin-bottom: 20px;
	position: relative;
}