<footer>
   <div class="container">
      <p class="footer-text text-center">Made by 
      <%= link_to 'Pat Whitrock', 'https://github.com/pat-whitrock' %>
       and 
      <%= link_to 'Wontae Yang', 'https://github.com/wontaeyang' %>
        @Flatiron School</p>
   </div>
</footer>